<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/aop 
            http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
            http://www.springframework.org/schema/tx 
            http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context-2.5.xsd"
	default-autowire="byName">
	<!-- 以下账户配置为客户端上传下载需要做的一个权限认证操作，需要在客户端进行配置 -->
	<bean id="accountYt" class="org.lyx.file.Account">
		<property name="userName" value="yt"></property>
		<property name="pwd" value="yt"></property>
		<!-- <property name="rootPath" value="/usr/local/apache-tomcat-6.0.20/webapps/srtp/pics"></property> -->
		<!-- 上传文件的根目录,实际工作环境按照实际情况更改即可 -->
		<property name="rootPath" value="D:/tmp/up"></property>
		<property name="level" value="1"></property>
		<property name="thumbHeight" value="100"></property>
		<property name="thumbWidth" value="100"></property>
	</bean>
	<bean id="accountYt0" class="org.lyx.file.Account">
		<property name="userName" value="yt0"></property>
		<property name="pwd" value="yt0"></property>
		<!-- <property name="rootPath" value="/usr/local/apache-tomcat-6.0.20/webapps/srtp/pics"></property> -->
		<!-- 上传文件的根目录,实际工作环境按照实际情况更改即可 -->
		<property name="rootPath" value="D:/tmp/up"></property>
		<property name="level" value="1"></property>
		<property name="thumbHeight" value="100"></property>
		<property name="thumbWidth" value="100"></property>
	</bean>

	<bean class="org.lyx.file.server.FileServerContainer"
		factory-method="factoryMethod">
		<property name="accounts">
			<list>
				<ref bean="accountYt" />
				<ref bean="accountYt0" />
			</list>
		</property>
		<!-- 端口 -->
		<property name="port" value="9999"></property>
		<!-- 临时文件的目录 -->
		<property name="fileBaseDirectory"
			value="D:/tmp/up/tmp"></property>
	</bean>

	<bean id="FileServer" class="org.lyx.file.server.FileServer"
		init-method="init"></bean>
</beans>